<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
<style>
    .swiper-slide {
        margin-top: 20px;
        padding: 0px;
    }

    .swiper {
        padding-right: 10px;
        background-color: #fff;
    }

    .mySwiper_5 {
        /*height: 350px;*/
    }

    .swiper:hover > .swiper-button-next {
        display: block;
    }

    .swiper:hover > .swiper-button-prev {
        display: block;
    }

    .swiper-button-next {
        display: none;
        transition: .5s;
        border-radius: 10px;
        color: #853d16;
    }

    .swiper-button-prev {
        display: none;
        transition: .5s;
        border-radius: 10px;
        color: #853d16;
    }

/*    .swiper-button-next:hover {
        transform: scale(1.5);
        color: #fff;
        background: linear-gradient(to bottom, #ff5050 0%, #ff3399 100%);
    }

    .swiper-button-prev:hover {
        transform: scale(1.5);
        color: #fff;
        background: linear-gradient(to bottom, #ff5050 0%, #ff3399 100%);
    }*/

    .bg_color {
        width: 100%;
        height: 100%;
        padding: 40px;
    }
    .item_khongian {
        position: relative;
        margin-left: 10px;
        margin-right: 10px;
    }

    .item-bg img {
        width: 100%;
    }

    .imt-top {
        height: 20px;
        position: absolute;
        top: -10px;
        left: -5%;
        width: 110%;
    }

    .imt-bottom {
        height: 20px;
        position: absolute;
        bottom: -10px;
        left: -5%;
        width: 110%;
    }

    .imt-left {
        width: 20px;
        position: absolute;
        left: -10px;
        top: -5%;
        height: 110%;
    }

    .imt-right {
        width: 20px;
        position: absolute;
        right: -10px;
        top: -5%;
        height: 110%;
    }
</style>

<div class="container">
    <div class="slider">
        <div class="swiper mySwiper_5">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="item_khongian">
                        <div class="item-bg">
                            <img src="https://aban.com.vn/wp-content/uploads/2023/03/dab9c45f0def4d04f376f1fc09a29d6b-scaled.jpg" />
                        </div>
                        <img class="imt-top" src="https://aban.com.vn/wp-content/uploads/2023/03/Vector3.png" />
                        <img class="imt-left" src="https://aban.com.vn/wp-content/uploads/2023/03/Vector4.png" />
                        <img class="imt-right" src="https://aban.com.vn/wp-content/uploads/2023/03/Vector2.png" />
                        <img class="imt-bottom" src="https://aban.com.vn/wp-content/uploads/2023/03/Vector1.png" />
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="item_khongian">
                        <div class="item-bg">
                            <img src="https://aban.com.vn/wp-content/uploads/2023/03/6ba2417f0b7fea6246b74265ee7ce25b-scaled.jpg" />
                        </div>
                        <img class="imt-top" src="https://aban.com.vn/wp-content/uploads/2023/03/Vector3.png" />
                        <img class="imt-left" src="https://aban.com.vn/wp-content/uploads/2023/03/Vector4.png" />
                        <img class="imt-right" src="https://aban.com.vn/wp-content/uploads/2023/03/Vector2.png" />
                        <img class="imt-bottom" src="https://aban.com.vn/wp-content/uploads/2023/03/Vector1.png" />
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="item_khongian">
                        <div class="item-bg">
                            <img src="https://aban.com.vn/wp-content/uploads/2023/03/dab9c45f0def4d04f376f1fc09a29d6b-scaled.jpg" />
                        </div>
                        <img class="imt-top" src="https://aban.com.vn/wp-content/uploads/2023/03/Vector3.png" />
                        <img class="imt-left" src="https://aban.com.vn/wp-content/uploads/2023/03/Vector4.png" />
                        <img class="imt-right" src="https://aban.com.vn/wp-content/uploads/2023/03/Vector2.png" />
                        <img class="imt-bottom" src="https://aban.com.vn/wp-content/uploads/2023/03/Vector1.png" />
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="item_khongian">
                        <div class="item-bg">
                            <img src="https://aban.com.vn/wp-content/uploads/2023/03/fac21e97b46a06f8ca678aeebe3008dc-scaled.jpg" />
                        </div>
                        <img class="imt-top" src="https://aban.com.vn/wp-content/uploads/2023/03/Vector3.png" />
                        <img class="imt-left" src="https://aban.com.vn/wp-content/uploads/2023/03/Vector4.png" />
                        <img class="imt-right" src="https://aban.com.vn/wp-content/uploads/2023/03/Vector2.png" />
                        <img class="imt-bottom" src="https://aban.com.vn/wp-content/uploads/2023/03/Vector1.png" />
                    </div>
                </div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>
</div>



<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script>
    var swiper = new Swiper(".mySwiper_5", {
        slidesPerView: 3,
        spaceBetween: 30,
        slidesPerGroup: 1,
        loop: true,
        autoplay: {
            delay: 4000,
            disableOnInteraction: false,
        },
        loopFillGroupWithBlank: true,
        pagination: {
            el: ".swiper-pagination",
            clickable: true,
        },
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
    });
</script>
