<style>
    .bg-nau {
        background-color: #6950cc;
        padding: 62px 0px 52px;
        text-align: center;
    }
    .bg-nau .footer{
        display: none;
    }
        .bg-nau:before {
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            background-image: url('https://aban.com.vn/wp-content/uploads/2023/03/texture.png');
            background-repeat: no-repeat;
            background-size: contain;
            width: calc(368px / 2);
            height: 371px;
        }
    .bg-nau-2:before {
        content: "";
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        background-image: url('https://aban.com.vn/wp-content/uploads/2023/03/texture-right.png');
        background-repeat: no-repeat;
        background-size: contain;
        width: calc(368px / 2);
        height: 371px;
    }
    .bg-nau h2 {
        margin-bottom: 26px;
        margin-top: 20px;
        color: #ffe200;
        font-family: SVN-Hydrella;
        font-size: 40px;
        font-weight: 500;
        line-height: 50px;
        text-align: center;
    }

        .bg-nau p {
            color: #fff;
            font-family: Texturina;
            font-size: 20px;
            font-weight: 300;
            line-height: 30px;
            margin: 0px 0px 20px;
            text-align: center;
            padding: 0 65px;
        }
</style>
<div class="container-fluid bg-nau">
    <div class="row">
        <div class="bg-nau-2">
            <div>
                <img decoding="async" width="43" height="14" src="https://aban.com.vn/wp-content/uploads/2023/03/777.svg" class="attachment-full size-full wp-image-511" alt="">
            </div>
            <div>
                <h2>“Đưa bản làng xa, xuống lòng thành phố”</h2>
            </div>
            <div>
                <p>Có hai ngôn ngữ mà mọi quốc gia, mọi dân tộc đều có thể dễ dàng thấu hiểu và kết nối: đó là âm nhạc và Ẩm thực. Ở Vân Đình, chúng tôi “nói” cả hai ngôn ngữ đó. Bằng âm nhạc, chúng tôi đưa hồn thiêng sông núi từ nơi bản xa về với phố thị náo nhiệt. Tiếng đàn hòa cùng tiếng thác đổ, chỉ cần lắng Nghe là có thể hiểu được tiếng nói đồng bào.</p>
            </div>
        </div>
    </div>
</div>
